HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

## FRONT_END ##
./vetfit_frontend/.idea/
./vetfit_frontend/.vscode/
./vetfit_frontend/node_modules/
./vetfit_frontend/build/
./vetfit_frontend/.DS_Store
./vetfit_frontend/*.tgz
./vetfit_frontend/my-app*
./vetfit_frontend/template/src/__tests__/__snapshots__/
./vetfit_frontend/lerna-debug.log
./vetfit_frontend/npm-debug.log*
./vetfit_frontend/yarn-debug.log*
./vetfit_frontend/yarn-error.log*
./vetfit_frontend/.changelog
./vetfit_frontend/.npm/
